
<article class="fck_detail ">
    <p class="Normal">Chiều 22/7, tại kỳ họp chuyên đề của HĐND TP Hà Nội, với đa số phiếu tán thành, ông Trần Sỹ Thanh đã được bầu làm Chủ tịch UBND TP Hà Nội nhiệm kỳ 2021-2026.</p>
    <p class="Normal">Ông Thanh là Chủ tịch TP Hà Nội thứ 10 tính từ năm 1957 đến nay. Ông nhận nhiệm vụ sau 45 ngày vị trí này bỏ trống.</p>
    <p class="Normal">Ông Thanh từng giữ chức Phó vụ trưởng Kế hoạch tổng hợp, Phó chánh văn phòng, Chánh văn phòng, Phó tổng giám đốc Kho bạc Nhà nước (Bộ Tài chính). Từ năm 2008, ông bắt đầu được luân chuyển về địa phương, lần lượt giữ các nhiệm vụ như Phó chủ tịch tỉnh Đăk Lăk; Ủy viên Ủy ban Kiểm tra Trung ương; Bí thư Tỉnh ủy Bắc Giang; Phó chủ nhiệm Ủy ban Kiểm tra Trung ương; Bí thư Tỉnh ủy Lạng Sơn.</p>
    <p class="Normal">Từ cuối năm 2017, ông giữ chức Phó ban Kinh tế Trung ương, kiêm Bí thư Đảng ủy, Chủ tịch Hội đồng thành viên Tập đoàn Dầu khí quốc gia Việt Nam. Tháng 8/2020, ông được Bộ Chính trị điều động, phân công giữ chức Phó chủ nhiệm Văn phòng Quốc hội. Tháng 4/2021 đến tháng 7/2022, ông đảm nhiệm vị trí Tổng kiểm toán Nhà nước.</p>
    <p class="Normal">UBND TP Hà Nội hiện có 6 phó chủ tịch gồm các ông: Lê Hồng Sơn (58 tuổi), Dương Đức Tuấn (55 tuổi), Nguyễn Trọng Đông (53 tuổi), Nguyễn Mạnh Quyền (47 tuổi), Hà Minh Hải (53 tuổi) và Chử Xuân Dũng (49 tuổi). Ngoại trừ ông Lê Hồng Sơn, nguyên Thứ trưởng Tư pháp, được luân chuyển làm Phó chủ tịch TP Hà Nội từ năm 2014, năm phó chủ tịch còn lại đều được bầu cuối năm 2020.</p>
</article>