@model blog_web.Areas.Admin.Data.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change PassWord</li>
    </ol>
    <h6 class="slim-pagetitle">Change PassWord</h6>
</div>

<div class="section-wrapper">
    <form method="post">
        <label class="section-title">Change PassWord</label>
        <div class="form-layout form-layout-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Password cũ: </label>

                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    <input asp-for="Password_old" id="my-password" type="text" class="form-control" placeholder="Password cũ">
                    <span asp-validation-for="Password_old" class="text-danger"></span>
                </div>
                <div class="fa fa-eye icon" id="show-password"></div>
            </div><!-- row -->

            <div class="row mg-t-20">
                <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Password mới:</label>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    <input asp-for="password_new" id="my-password_1" type="text" class="form-control" placeholder="Password mới">
                    <span asp-validation-for="password_new" class="text-danger"></span>
                </div>
                <div class="fa fa-eye icon_1" id="show-password_1"></div>
            </div>

            <div class="row mg-t-20">
                <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Xác nhận Password: </label>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    <input asp-for="ConfirmPassword" id="my-password_2" type="text" class="form-control" placeholder="Password mới">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="fa fa-eye icon_2" id="show-password_2"></div>
            </div>
            <div class="row mg-t-30">
                <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                        <button asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassWord" type="submit" class="btn btn-primary bd-0">Đổi mật khẩu</button>
                        <button asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary bd-0">Cancel</button>
                    </div><!-- form-layout-footer -->
                </div><!-- col-8 -->
            </div>
        </div><!-- form-layout -->
    </form>
</div>

@section Scripts_Admin{

    <script>
        $('.icon').click(function () {
            if ($('#my-password').attr('type') == 'text') {
                $('#my-password').attr('type', 'password');
                $('#show-password').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $('#my-password').attr('type', 'text');
                $('#show-password').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });

        $('.icon_1').click(function () {
            if ($('#my-password_1').attr('type') == 'text') {
                $('#my-password_1').attr('type', 'password');
                $('#show-password_1').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $('#my-password_1').attr('type', 'text');
                $('#show-password_1').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });

        $('.icon_2').click(function () {
            if ($('#my-password_2').attr('type') == 'text') {
                $('#my-password_2').attr('type', 'password');
                $('#show-password_2').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $('#my-password_2').attr('type', 'text');
                $('#show-password_2').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });

    </script>
}