
@model blog_web.Areas.Admin.Data.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_LogIncshtml.cshtml";
}

<form asp-area="Admin" asp-controller="Accounts" asp-action="Login" method="post">
    <div class="signin-box">
        <h2 class="slim-logo"><a href="index.html">Login<span>.</span></a></h2>
        <h2 class="signin-title-primary">Welcome back!</h2>
        <h3 class="signin-title-secondary">Sign in to continue.</h3>

        <div class="form-group">
            <input type="text" class="form-control" asp-for="EmailAddress" placeholder="Enter your email">
        </div><!-- form-group -->
        <div class="form-group mg-b-50">
            <input type="password" class="form-control" asp-for="Password" placeholder="Enter your password">
        </div><!-- form-group -->
        <button class="btn btn-primary btn-block btn-signin">Sign In</button>
        <p class="mg-b-0"><span class="text-danger">@ViewBag.Error</span></p>
    </div><!-- signin-box -->
</form>